body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.active {
    white-space:nowrap;
    overflow: hidden;
    width: 100%;
    display: block;
    font-size: 1rem;
    animation:scroll-left 10s linear infinite;

}  
 
@keyframes scroll-left {
    from {
        transform:translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
   }


h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: auto;
}

h2 {
	color: navy;
	text-align:justify;

}

article p {
	text-align: justify;
}

.callout {
	color: white;
	background-color: brown;
    padding: 1px;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: right;
}
