h1 {
    text-align:center ;
}

main {
    margin: 0;
    width: 400;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background: #000;
    animation: fade 15s;

}
@keyframes fade {
    0%{
        opacity: 0;
    }

    100% {
        opacity: 1;
        
    }
}