* {
    margin: 0;
    padding: 0;

}



body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}

header,main,footer {
    max-width: 960px;
    display: grid;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem; 

}
 
 


footer {
    max-width: 960px;
    background-color: red;
    color:white;
    text-align: center;
    box-sizing: border-box;

    
    
}    

 header {
    box-sizing: border-box;
    background-color: red;
    color: white;
    text-align: center;
    height: 200px;

 }


main {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: white;
}

:root {
    background: white;
}  

.hero article  {
    position: absolute;
    bottom: 5px;
    left: 830px;
    background-color: green;
    opacity: 0.7;
    color: white;
    padding: .1rem;
    border: 3px solid green;
    margin: 1px;
}


.data {
    position:relative;
    bottom: 550px;
    left:30px;
    background-color: green;
    color: white;
    width: 180px;
    margin: 2px;
    object-fit: cover;
    padding: 1rem;
    opacity: 0.7;
    border: 2px solid green;

}

.weather data {
    background-color: red;
    color: white;
    opacity: 0.7;
}

 
 
nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;


}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;

}

nav a :hover {
    background-color: red;
    color: var(--accent2-color);
    font-size: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.grid-containerg {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    grid-gap:10px;
    place-items:center;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 1rem;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    margin: 0 auto; 
}


.grid-container {
    width: 200px;
    background: #fff;
    border-radius: 0;
    padding: 0.5rem;
    text-align: center;
    
}
.grid-container img {
    width: 200px ;
    height: 170px ;
    object-fit:cover;
    display: block;
    margin: 0 auto 0.5rem auto;
    
}


h1 {
    position: absolute;
    left:630px;
    top:300px;
    color: #fff;
    font-size: xx-large;
    font-weight: bolder;

}
        

article {
    display: flex;
    justify-content:row;

    

    
}
 
h2 {
    position: relative;
    left: 350px;
    font-size: xx-large;
}
      
table {
    position: relative;
    font-size: xx-large;
    width: 960px;
}
 th {
    background-color: red;
 }       
  td:nth-child(3n+1){
    background-color: orange;
  }
 td:nth-child(3n+3) {
    background-color: orange;
 } 

.contact-info {
    font-size: xx-large;
    background-color: blue;
}    
        
        
    
    
    
        

    








