* {
    margin: 0;
    padding: 0;

}



body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}

header,main,footer {
    max-width: 960px;
    display: grid;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem; 

}
 
 


footer {
    max-width: 960px;
    background-color: red;
    color:white;
    text-align: center;
    box-sizing: border-box;

    
    
}    

 header {
    background-color: red;
    color: white;
    display: grid;
    grid-template-columns: 200px auto;
    
    

    
    



 }


main {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: white;
    
}

:root {
    background: white;
}  

.hero article  {
    position: absolute;
    bottom: 5px;
    left: 830px;
    background-color: orange;
    opacity: 0.7;
    color: white;
    padding: .1rem;
    margin: 1px;
}


 
 
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    


}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;

}

nav a:hover {
    background-color: red;
    color: var(--accent2-color);
    font-size: xx-large;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.grid-containerg {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    grid-gap:10px;
    place-items:center;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 1rem;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    margin: 0 auto; 
}


.grid-container {
    width: 200px;
    background: #fff;
    border-radius: 0;
    padding: 0.5rem;
    text-align: center;
    
}
.grid-container img {
    width: 200px ;
    height: 170px ;
    object-fit:cover;
    display: block;
    margin: 0 auto 0.5rem auto;
    
}


h1 {
    position:relative;
    top: 20px;
    color: #fff;
    font-size: xx-large;
    font-weight: bolder;
    background-color: green;
    text-align: center;
    opacity: .7;
    padding: 2px;

}
        

article {
    display: flex;

    
}
 
h2 {
    position: relative;
    left: 350px;
    font-size: xx-large;
}

section.tour {
    display: flex;
    flex-direction: row;
    gap: 130px;
    padding: 50px;
    background-color: bisque;
}
h3 {
    display: flex;
    flex-direction: row;
    background-color: beige;
    justify-content: center;
    position: absolute;
    left: 20.5%;
    top:620px;
    font-size: xx-large;
    width: 946px;
    padding: 10px;
    

}


table {
    position: relative;
    font-size: xx-large;
    width: 960px;
}
 th {
    background-color: red;
 }       
  td:nth-child(3n+1){
    background-color: orange;
  }
 td:nth-child(3n+3) {
    background-color: orange;
 } 

td:nth-child(3n+2){
    background-color: yellow;
}



.contact-info {
    font-size: xx-large;
    background-color: bisque;
    text-align: center;
}    
        
  label {
    display: block;
    margin-bottom: 0.35rem;
    font-weight: 600;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 400px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: vertical;
}
.btm-submit {
    background-color: blue;
    color: var(--secondary-color);
    max-width: 400px;
    border-radius: .6px;
    padding: .8rem;

} 





.btm-submit:hover {
    opacity: 0.95;
}      
    
.cta-trips {
    background-color:yellow ;
    padding: 0;
    border-radius: 8px;
    text-align: center;
    margin: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);        

}

.cta-trips h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    position: absolute;
    top:3px;

}

.cta-trips p {
    font-size: 1rem;
    line-height: 1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top:1px;
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 2rem;
    background: white;
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 4rem;
    font-weight: 900;
    transition: all 0.3s ease;
    border: 2px solid var(--secondary-color);
    position: absolute;
    bottom: 600px;
    width: 250px;
}

.cta-button:hover {
    background: orange;
    color: var(--primary-color);
    transform: scale(1.5);
    
}

.cta-button:active {
    transform: scale(0.98);
}
.btm.hover.button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
    width: 400px;
}

.btm-submit {
    background-color: blue;
    color: var(--secondary-color);
    max-width: 400px;
    border-radius: 6px;
    padding: .8rem;

} 
.form-checkbox {
    margin-right: 14px;
}
.trip-table {
    width: 650px;
    font-size: x-large;
    background-color:var(--secondary-color);
    color: var(--accent2-color);


}


.h1.p {
    background-color: green;
}

th {
    background-color: red;
}


td:nth-child(3n+1){
    background-color: orange;

}

 
        

    








