 @media only screen and (min-width: 960px) {
	
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
}
