 header p {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: bold;
}

footer {
    background-color:blue;
    color: white;
    box-sizing: border-box;
    display: grid;
    bottom: 0;
    width: 100%;
    text-align: justify;
    font-size: 1rem;
    font-weight: bold;

}



header {
    background-color: blue;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    

}

    

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    display: inline-block;
}
nav a:hover {
    display: flex;
    font-weight: bold;
}

nav {
    margin: 0 2rem;
    justify-content: space-around;
    



}


body  {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
main p {
    text-align: left
}

header main footer {
    width:1000px 
}

main {
    margin: 0.5rem;
    display: grid;
    grid-column: 1/2;
    padding: 2rem;
    grid-row: 2;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);

}

 h1 {
    font-weight: 400;
    grid-column: 1 / -1;
    justify-self: center
}

section.card {
    border: 0.5px white solid;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);


}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}










