 header p {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: bold;
}

footer {
    background-color:blue;
    color: white;
    box-sizing: border-box;
    display: grid;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;

}



header {
    background-color: blue;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    

}

    

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    display: inline-block;
}
nav a:hover {
    display: flex;
    font-weight: bold;
}

nav {
    margin: 0 2rem;
    justify-content: space-around;
    



}


body  {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
main p {
    text-align: left
}

header main footer {
    width:1000px 
}

main {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    display: table-column-group;
    padding: 1rem;
    text-align: left;
    flex-direction:column;
    gap: 1rem;
    text-wrap: inherit
;
}

 h1 {
    font-weight: 400;
    font-style: normal;
    text-align:s

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}










