span header {
    display: block;
    width: 100%;
}
span {
    font-size: 1.5rem;
    font-weight: bold;


footer {
    background-color:blue;
    color: white;
    text-align: center;
    display: grid;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}



header {
    background-color: blue;
    color: white;
    padding: 10px 0;
    text-align: center;
}

p {
    text-align: center;
}

    

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    display: inline-block;
}
nav a:hover {
    display: flex
}

nav {
    margin: 0 2rem;
    justify-content: space-around;
}


body  {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header main footer {
    width:100% 
}

main {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    display: flex;
    padding: 1rem;
    text-align: start;
    flex-direction: column;
}

 h1 {
  font-weight: 400;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}










