* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;

}

nav a:hover {
	text-decoration: underline double;
	background-color: #eee;
	color: #000;
}



body {
	font-family: Roboto, sans-serif;
}
h1 {
	font-size: 2.5rem;
	padding: 1rem;
	background-color: #333;
	text-align: center;
	font-family: "Acme", Arial, sans-serif;
	color: #fff;
}
h2 {
	font-size: 2rem;
}

section {
	margin: 1rem auto;
	max-width: 960px;
	padding: 0.5rem;

}

figure {	
    background-color: #fff;
}
img {
	width: 100%;
	height: auto;
	margin: 0.5rem;
}


footer {
    background-color:blue;
    color: white;
    box-sizing: border-box;
    display: grid;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
  




