/* large screen  ************/
@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav  {
		justify-content: space-around;
		flex-direction: row;
        display: flex;
	}
	nav a {
		display: flex;
        flex-direction: column;
    }
}
	