* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 440px;
    height: auto;
} 
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.wf1 fieldset {
    margin: 2rem 0;
    padding: .5rem;
    border: 1px solid red;
    border-radius: 6px;
}


.wf1 legend {
    color: #445ba9;
    padding: .5rem;
    font-weight: bold;
}

.wf1 label {
    display:block;
    padding-top: 1rem;
    font-size: .9rem;
    color: #9c2c13;
}
.wf1 div {
    padding-top: 1rem;
    color:#445ba9;
    font-size: .9rem;
}

.wf1 input [type="text"],
.wf1 input [type="email"],
.wf1 input [type="tel"],
.wf1 select[type="date"],
.wf1 textarea {
    width: 100%;
    padding: .75rem;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    max-width: 400px;
}

.wf1 input[type="submit"] {
    border: none;
    background-image:linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin:-1rem 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    font-size: 1.1rem;
    font-weight: bold;
}

.wf1  input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
}
@media (max-width: 500px) {
    body {
        width: 100%;
        padding: 1rem;
    }
    
}