@media only screen and (min-width: 810px) {
	h1 {
		font-size: 2rem;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	
}



body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/ody {
    font-family: "Roboto", sans-serif;
}
 
header,main,footer {
    padding: .1rem;
    margin: .1rem auto;
    max-width: 810px;
    border: .1rem solid #bbb;
    

}

main {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}





