* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;



body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/ody {
    font-family: "Roboto", sans-serif;
}
 
header,main,footer {
    max-width: 810px;
    display: grid;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem; 

}
 
 


footer {
    max-width: 810px;
    background-color: green;
    color:white;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    bottom: 150px;
    left: 3px;
}    

 header {
    box-sizing: border-box;
    background-color: red;
    color: white;
    text-align: center;
    height: 100px;

 }


main {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}


.hero article  {
    position: absolute;
    bottom: 5px;
    left: 830px;
    background-color: black;
    opacity: 0.7;
    color: white;
    padding: .1rem;
    border: 2rem;
    margin: 1px;
}


.data {
    position:relative;
    bottom: 550px;
    left:30px;
    background-color: black;
    color: white;
    width: 180px;
    margin: 2px;
    object-fit: cover;
}

 h1::after {
    content:"v" ;
    color: red;
 }