* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;



body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/ody {
    font-family: "Roboto", sans-serif;
}
 
header,main,footer {
    max-width: 810px
    

}


footer {
    max-width: 810px;
    background-color: green;
    color:white;
    text-align: center;
    box-sizing: border-box;

}
main {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}


.h2  {
    position: absolute;
    bottom: 4opx;
    left: 0;

 }




