* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;



body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/ody {
    font-family: "Roboto", sans-serif;
}
 
header,main,footer {
    max-width: 810px;
    align-items: center;
    

}

header {
	background-color: #bbb;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
    min-width: 600px;
}






footer {
    max-width: 810px;
    background-color: green;
    color:white;
    text-align: center;
    box-sizing: border-box;

}
main {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}


.hero article  {
    position: absolute;
    bottom: 20px;
    left: 630px;
    background-color: red;
    opacity: 0.7;
    color: white;
    padding: .1rem;
    border: 2rem;
    margin: 1px;
}


.div {
    position:relative;
    bottom: 50;
    left: 0;
}