body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* mobile **************************/

.grid-nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

}
.grid-nav a {
    background-color: #0055aa;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}



header,
main {
    margin: 0 auto;
    max-width: 600px;
    align-items: center;
}

footer {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    background-color: #bbb;
    color: white;
    font-weight: bold;
    bottom: 0;

}

h1 {
    font-size: 2rem;
    text-align: center;
}


h2 {
    font-size: 2rem;
    text-align: center;
}

