/* Larger Views ******************************/
@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}

body {font-family: 'Roboto', sans-serif;}

header, main, footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #e6f2ff;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #fff;
}

@media screen and (min-width: 500px) {
  header {
    background-color: #000;
    color: #fff;
  }
  
  main {
    grid-template-columns: 1fr 1fr;
  }
}


}
