/* Larger Views ******************************/
@media (min-width: 600px) {
	.grid-nav ul {
		justify-content: space-around;
		flex-direction: row;
        display:flex;
	}
	.grid-nav a {
		flex: 1 1 100%;

	}
    .grid-nav {
        grid-template-columns: repeat(5,1fr);
    }


}

