body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* mobile **************************/
header {
    background-color: #bbb;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
}

header,
main {
    margin: 0 auto;
    max-width: 600px;
    align-items: center;
}

footer {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    background-color: #bbb;
    color: white;
    font-weight: bold;
    bottom: 0;

}

h1 {
    font-size: 2rem;
    text-align: center;
}


h2 {
    font-size: 2rem;
    text-align: center;
}

