/* Larger Views ******************************/
@media (min-width: 601px) {
	header {
		display:flex;
		align-items: center;
		justify-content: space-between;
	}
	.grid-nav ul {
		justify-content: space-around;
		flex-direction: row;
	}
	.grid-nav a {
		flex: 1 1 100%;

	}
    .grid-nav {
        grid-template-columns: repeat(5,1fr);
    }


}

