@media (min-width: 840px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}



    .grid-3x3 {
        display: grid;
        grid-template-columns:repeat(3 1fr);
        grid-template-rows: repeat(3 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    .temple-grid img {
        width: 100%;
        border-radius: 8px;

    }
}

