/* Larger Views ******************************/
@media (min-width: 601px) {
	header {
		display:grid;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;

	}


}

