@media (min-width: 640px) {
	header {
		display: inline-flexbox;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,auto);
        gap:1rem;
        padding: 2rem;
        margin: auto;
    }