* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	text-align: left;
	font-family: times, serif;
	font-size: 1.5rem;
	margin-left: 1rem;
}

h2 {
	font-size: 1.2rem;
	color: navy;
	text-align: left;
	margin: 1rem;
}

nav {
	max-width: 700px;
	margin: 1rem auto;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before { 
	content: "\01F4CD";  /* just a wayfinding symbol for the user */
}

.stuff {
	margin: 0.5rem;
	border: 1px solid rgb(0  0  0 / 0.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
}
 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #bbb;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}

header,
main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #36454f;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}



