

body {font-family: 'Roboto', sans-serif;}


section {
  padding: 1rem;
  background-color: #fff;
}

@media screen and (min-width: 500px) {
  header {
    background-color: #000;
    color: #fff;
  }
  
  main {
    grid-template-columns: 1fr 1fr;
  }
}