body {
    font-family: "Roboto", sans-serif;
}
 
header,main,footer {
    padding: 1rem;
    margin: 1rem auto;
    max-width: 640px;
    border: 1px solid #bbb;
    background-color: blueish;
}

main {
    display:grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}


section {
    padding: 1rem;
    background-color: white;
}
    


    
