body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  
}
header,main,footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 10px;
    color: purple;
    border: 2px solid purple;
    background-color: blueish;
    
}


main {
    width: 90%;
    display: grid;
    grid-template-columns:  1fr;
    grid-gap:1rem
}

@media (min-width: 600px) {
    main {
        grid-template-columns:  1fr 1fr;
    }
}