body {
    font-family: "Roboto", sans-serif;
}
 
header,main,footer {
    padding: 1rem;
    margin: 1rem auto;
    max-width: 640px;
    border: 1px solid #bbb;
    background-color: blueish;
}

main {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}


section {
    padding: 1rem;
    background-color: white;
}
  div {
    font-size: 1.2rem;
    left:1rem;
    right:auto;
    background-color: aqua;
    color: #fff;
    position: absolute;

    
}

    
