@media screen {
    body {
        font-family: "Roboto", sans-serif;
        font-weight: 400;

    }

    

    header,main,footer {
        max-width: 640px;
        min-width: 500px;
        margin: 1rem auto;
        padding: 10px;
        color: white;
        border: 2px solid purple;
        background-color: black;
        color: white;

    }


        main {
            width: 90%;
            display: grid;
            grid-template-columns:  1fr 1fr;
            grid-gap:1rem;
        }

        header {
            background-color: black;
            color: white;
        }
    }